/*------------头部导航-----------------------------------------------*/
/*body{
    background-image:linear-gradient(to top,pink 20%,
                skyblue 40%,green 60%,yellow 80%,purple 100%);

}*/
#qhr {
    height: 178px;
    /*background-color:#9e9e9e;*/
    background: url("../qhr-images/bjt.jpg");
    background-size: cover;
}

#qhr .top {
    height: 110px;
}

#qhr .top .logo {
    padding: 10px;
    width: 762px;
    height: 70px;
    float: left;
    background-repeat: no-repeat;
}

#qhr .top .logo img {
    width: 270px;
    height: 120px;
}

#qhr .top .rili {
    width: 58px;
    height: 62px;
    background-color: #fff;

}

#qhr .top .rili {
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    float: right;
    box-shadow: 1px 1px 1px 1px #9e9e9e;
}

#qhr .top .rili p:first-child {
    background-color: #a98251;
    width: 58px;
    height: 16px;
    color: #fff;
    font-size: 14px;
    border-radius: 10px 10px 0px 0px;
    line-height: 16px;
}

#qhr .top .rili p:last-child {
    color: #a98251;
    font-size: 23px;
    line-height: 42px;
    height: 42px;
    width: 58px;
    background-color: #fff;
    border-radius: 10px;

}

#qhr .top .tell {
    padding-top: 20px;
    padding-left: 15px;
    width: 175px;
    float: right;
    height: 62px;
    text-align: center;

}

#qhr .top .tell p {
    color: #9e9e9e;
    font-size: 23px;
    display-inside: block;
    margin-bottom: 10px;
}

#qhr .top .tell .tellb {
    text-align: center;
    width: 175px;
    height: 33px;
    background-color: #a98251;
}

#qhr .top .tell .tellb a {
    line-height: 33px;
    color: #fff;
    font-size: 14px;
}

#qhr .bottom-right {
    height: 78px;
}

/*-------精彩样照部分 --------------------*/
#qhr .bottom-right > ul > li > ul {
    display: none;
}

#qhr .bottom-right ul .jcyz {
    height: 68px;
    width: 240px;
    background-color: #a98251;
}

#qhr .bottom-right ul .jcyz > a {
    color: #fff;
    line-height: 70px;
    font-size: 18px;
}

#qhr .bottom-right ul .jcyz > ul {
    background-color: #000;
}

#qhr .bottom-right ul .jcyz > ul > li {
    height: 60px;
    text-align: center;
    border-bottom: 1px solid #9e9e9e;
}

#qhr .bottom-right ul .jcyz > ul > li > a {
    font-size: 20px;
    color: mintcream;
    line-height: 70px;
}

#qhr .bottom-right ul .jcyz > ul > li > a:hover {
    color: #a98251;
}

/*-------------导航分类部分------------------*/
#qhr .bottom-right ul li {
    text-align: center;
}

#qhr .bottom-right > ul > li {
    text-alige: center;
    width: 98px;
    float: left;
}

#qhr .bottom-right ul li + li a {
    funt-size: 20px;
}

#qhr .bottom-right ul li + li {
    padding-top: 10px;
    height: 68px;
    /*overflow: hidden;*/
    box-sizing: border-box;

}
#qhr .bottom-right ul li + li:hover > a > p {
    color: #fff;
}
#qhr .bottom-right > ul > li + li a:hover {
    color: #a98251;
}
#qhr .bottom-right > ul > li + li p:hover {
    color: #a98251;
}

/*-----------------------头部导航结束---------------------------------------------------------------------*/
/*----------------------------------------*/