* {
	margin: 0;
	padding: 0;
}

em,i {
	font-style: normal;
}

li {
	list-style: none
}

img {
	border: 0;
	vertical-align: middle
}

button {
	cursor: pointer
}

a {
	color: #666;
	text-decoration: none;
	display-inside: block;

}

a:hover {
	color: #c81623
}

button,input {
	font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif
}



.hide,.none {
	display: none
}

.clearfix:after {
	visibility: hidden;
	clear: both;
	display: block;
	content: ".";
	height: 0
}

.clearfix {
	*zoom: 1
}

/* 版心 */
.banxin {
	width: 1080px;
	margin:0 auto;
}


/* 左右浮动的模块 */
.fl {
	float: left;
}

.fr {
	float: right;
}